/* Footer section */
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px 0;
  height: 50px;
  width: 100%;
  background-color: rgba(73, 73, 77, 0.705);
  color: white;
  text-align: center;
}

.push {
  height: 10px;
}

.logos {
  color: white;;
}

.logos:hover {
  color: black;
}
