.newsContainer {
  margin: 60px 0;
}

.newsArticle {
  padding-top: 15px;
  font-size: 1.2rem;

}

.newsArticle a:hover {
  color: tomato;
  text-decoration: none
}

.newsHeader {
  text-align:center;
  margin: 40px 0 10px 0;
  font-size: 4rem;
}

.newsTitle {
  font-weight: bold;
}