.weatherHeader {
  text-align: center;
  margin: 40px 0 40px 0;
  font-size: 3rem;
  font-weight: bold;
}

.weather {
  margin: 0 25%;
}

#inputGroup-sizing-lg {
  font-weight: bold;
}

.cardTitle {
  font-size: 40px;
}

.weatherData {
  margin-top: 50px;
  text-align: center;
  font-size: 20px;
}

.weatherData::after {
  animation: fade 5s linear infinite;
}

@keyframes fade {
  0% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(100%);
  }
  97% {
    transform: translateY(100%);
  }
}

.weatherinfo {
  font-size: 100px;
}

.flighticon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 410px;
}
